/* You can add custom CSS and extend Boostrap styles in this file.  Remember, Bootstrap is just CSS at the end of the day! */
#hero-section {
  background-image: url("images/france.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px   rgba(0,0,0,.4);
  color: white;
  height: 80vh;
  width: auto;
}
  .avatar {
  width: 100%;
  height: auto;
  margin-top: -30px;

  }

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-item img {
  
  object-fit: cover;
  object-postion: center;
  height: 80vh;
  overflow: hidden;
}

.carousel-item:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.2);
}

.carousel-caption {
  z-index: 1;
  font-family: Merriweather Sans;
  text-shadow: 2px 2px rgb(0, 0, 0, .5);
}

body {
  background: darkcyan;
  color: white;
  font-family: ariel;
}

.icon {
  margin: auto;
  height: 100px;
}

section.containter-fluid {
  width: 100%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.containter-lg {
  max-width: 50vw;
}

.navbar-nav {
  margin-left: auto;
  font-family: Merriweather Sans;
}

.navbar {
  z-index: 1000;
  background: rgb(4, 110, 110);
}
.ico {
  padding: 5%;
  font-size: 400%;
  
}

h1, h2 {
  font-family: Sansita Swashed;
  letter-spacing: 150%;
  font-size: 300%;
  text-shadow: 3px 3px rgb(0, 0, 0, .5);
}

h2 {
  font-size: 200%;
  color: lightcyan;
}

#hero {
  font-family: Merriweather Sans;
  font-size: 300%;
  text-shadow: none;
}

.bio-image {
  vertical-align: center;
  height: 400px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  margin: none;
}

p {
  text-align: center;
  vertical-align: middle;
  font-size: 120%;
  font-family:Merriweather Sans;
}

#par col-md-4 {
  text-align: left;
}

#footer-section {
  font-family:Merriweather Sans;
  vertical-align: middle;
}

#journeypdf {
  width: 100%;
  height: 400px;
  padding: 2%;
}

#GCGpdf {
  width: 100%;
  height: 400px;
  padding: 2%
}

.imgexpand{
  height:auto;
  width: 49%;
  padding: 2%;
  transition: transform .2s;
  cursor: pointer;
}

.imgexpand:hover{
  opacity: 0.7;
}

.carousel-slide{
  width:100%;
  height: 400px;

}

.imgbackground .carousel-item{
  height:400px;
  width:auto;
}

.imgbackground{
  display: flex;
  justify-content:center
  width:600px;
  height:400px;
  background-color: rgb(4, 110, 110);
}
/*
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Add Animation - Zoom in the Modal 
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button 
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens 
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
*/