.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:57.899841px;}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(183,183,183);}
.fc0{color:rgb(255,251,240);}
.fs8{font-size:48.000000px;}
.fs6{font-size:52.000000px;}
.fs5{font-size:56.000000px;}
.fs7{font-size:60.000000px;}
.fs3{font-size:68.000000px;}
.fs4{font-size:70.000000px;}
.fs1{font-size:96.000000px;}
.fs2{font-size:108.000000px;}
.fs0{font-size:168.000000px;}
.y0{bottom:0.000000px;}
.y12{bottom:42.542007px;}
.y3{bottom:49.801317px;}
.y11{bottom:61.922012px;}
.y2f{bottom:81.012085px;}
.y10{bottom:81.302017px;}
.y20{bottom:88.955124px;}
.y3c{bottom:90.584106px;}
.yf{bottom:100.682022px;}
.y2{bottom:101.788513px;}
.y2e{bottom:104.472092px;}
.y1f{bottom:104.915115px;}
.y3b{bottom:107.684097px;}
.ye{bottom:120.062027px;}
.y1e{bottom:120.875107px;}
.y3a{bottom:124.784088px;}
.y2d{bottom:127.932098px;}
.y1d{bottom:136.835098px;}
.yd{bottom:139.442032px;}
.y39{bottom:141.884079px;}
.y2c{bottom:151.392105px;}
.y1{bottom:152.188515px;}
.y1c{bottom:152.795090px;}
.yc{bottom:158.822037px;}
.y38{bottom:158.984070px;}
.y47{bottom:160.554428px;}
.y1b{bottom:168.755081px;}
.y2b{bottom:174.852112px;}
.y37{bottom:176.084061px;}
.y46{bottom:177.114426px;}
.yb{bottom:178.202034px;}
.y1a{bottom:184.715073px;}
.y36{bottom:193.184059px;}
.y45{bottom:193.674423px;}
.ya{bottom:197.582031px;}
.y2a{bottom:198.312111px;}
.y19{bottom:200.675072px;}
.y44{bottom:210.234413px;}
.y35{bottom:210.284058px;}
.y18{bottom:216.635071px;}
.y9{bottom:216.962036px;}
.y29{bottom:221.772110px;}
.y43{bottom:226.794411px;}
.y34{bottom:227.384056px;}
.y17{bottom:232.595070px;}
.y8{bottom:236.342041px;}
.y25{bottom:237.806076px;}
.y42{bottom:243.354408px;}
.y33{bottom:244.484058px;}
.y28{bottom:245.232109px;}
.y16{bottom:248.555069px;}
.y24{bottom:252.626072px;}
.y7{bottom:255.722042px;}
.y41{bottom:259.914406px;}
.y32{bottom:261.584057px;}
.y15{bottom:264.515068px;}
.y23{bottom:267.446072px;}
.y27{bottom:268.692108px;}
.y6{bottom:275.102037px;}
.y40{bottom:276.474403px;}
.y31{bottom:278.684059px;}
.y14{bottom:280.475067px;}
.y22{bottom:282.266075px;}
.y26{bottom:292.152107px;}
.y3f{bottom:293.034401px;}
.y5{bottom:294.482038px;}
.y30{bottom:295.784058px;}
.y13{bottom:296.435068px;}
.y21{bottom:297.086078px;}
.y3e{bottom:309.594400px;}
.y4{bottom:338.071037px;}
.y3d{bottom:341.917187px;}
.h8{height:36.576000px;}
.h6{height:39.624000px;}
.h5{height:42.672000px;}
.h7{height:45.720000px;}
.h4{height:51.816000px;}
.h2{height:73.152000px;}
.h3{height:82.296000px;}
.h1{height:128.016000px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x6{left:20.996063px;}
.x3{left:31.742126px;}
.x4{left:42.767166px;}
.x2{left:47.568909px;}
.x5{left:67.742126px;}
.x1{left:191.135132px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:77.199788pt;}
.fs8{font-size:64.000000pt;}
.fs6{font-size:69.333333pt;}
.fs5{font-size:74.666667pt;}
.fs7{font-size:80.000000pt;}
.fs3{font-size:90.666667pt;}
.fs4{font-size:93.333333pt;}
.fs1{font-size:128.000000pt;}
.fs2{font-size:144.000000pt;}
.fs0{font-size:224.000000pt;}
.y0{bottom:0.000000pt;}
.y12{bottom:56.722677pt;}
.y3{bottom:66.401756pt;}
.y11{bottom:82.562683pt;}
.y2f{bottom:108.016113pt;}
.y10{bottom:108.402690pt;}
.y20{bottom:118.606832pt;}
.y3c{bottom:120.778809pt;}
.yf{bottom:134.242696pt;}
.y2{bottom:135.718018pt;}
.y2e{bottom:139.296122pt;}
.y1f{bottom:139.886820pt;}
.y3b{bottom:143.578796pt;}
.ye{bottom:160.082703pt;}
.y1e{bottom:161.166809pt;}
.y3a{bottom:166.378784pt;}
.y2d{bottom:170.576131pt;}
.y1d{bottom:182.446798pt;}
.yd{bottom:185.922709pt;}
.y39{bottom:189.178772pt;}
.y2c{bottom:201.856140pt;}
.y1{bottom:202.918020pt;}
.y1c{bottom:203.726786pt;}
.yc{bottom:211.762716pt;}
.y38{bottom:211.978760pt;}
.y47{bottom:214.072571pt;}
.y1b{bottom:225.006775pt;}
.y2b{bottom:233.136149pt;}
.y37{bottom:234.778748pt;}
.y46{bottom:236.152568pt;}
.yb{bottom:237.602712pt;}
.y1a{bottom:246.286764pt;}
.y36{bottom:257.578746pt;}
.y45{bottom:258.232564pt;}
.ya{bottom:263.442708pt;}
.y2a{bottom:264.416148pt;}
.y19{bottom:267.566762pt;}
.y44{bottom:280.312551pt;}
.y35{bottom:280.378743pt;}
.y18{bottom:288.846761pt;}
.y9{bottom:289.282715pt;}
.y29{bottom:295.696147pt;}
.y43{bottom:302.392548pt;}
.y34{bottom:303.178741pt;}
.y17{bottom:310.126760pt;}
.y8{bottom:315.122721pt;}
.y25{bottom:317.074768pt;}
.y42{bottom:324.472544pt;}
.y33{bottom:325.978745pt;}
.y28{bottom:326.976145pt;}
.y16{bottom:331.406759pt;}
.y24{bottom:336.834763pt;}
.y7{bottom:340.962723pt;}
.y41{bottom:346.552541pt;}
.y32{bottom:348.778742pt;}
.y15{bottom:352.686757pt;}
.y23{bottom:356.594762pt;}
.y27{bottom:358.256144pt;}
.y6{bottom:366.802717pt;}
.y40{bottom:368.632538pt;}
.y31{bottom:371.578746pt;}
.y14{bottom:373.966756pt;}
.y22{bottom:376.354767pt;}
.y26{bottom:389.536143pt;}
.y3f{bottom:390.712535pt;}
.y5{bottom:392.642718pt;}
.y30{bottom:394.378743pt;}
.y13{bottom:395.246758pt;}
.y21{bottom:396.114770pt;}
.y3e{bottom:412.792534pt;}
.y4{bottom:450.761383pt;}
.y3d{bottom:455.889582pt;}
.h8{height:48.768000pt;}
.h6{height:52.832000pt;}
.h5{height:56.896000pt;}
.h7{height:60.960000pt;}
.h4{height:69.088000pt;}
.h2{height:97.536000pt;}
.h3{height:109.728000pt;}
.h1{height:170.688000pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x6{left:27.994751pt;}
.x3{left:42.322835pt;}
.x4{left:57.022888pt;}
.x2{left:63.425212pt;}
.x5{left:90.322835pt;}
.x1{left:254.846842pt;}
}
